body{
    background-color: #ed8383;
}

#bg-logo{
    position: absolute;
    bottom: 50px;
    left:35px;

}
.login-container, .newpass-container{
    width: 25rem;
    height: 33rem; 
    border: 3px 
    solid #0e0e0f;
}

.error{
    color:red;
}

#username, #password, #email, #changepass{
    position: relative;
    left:10px;
    border-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;
    border-color: black;
    width: 305px;
    margin: 5px;
    transition: transform 0.4s ease;
}

#username:focus, #password:focus, #email:focus, #changepass:focus{
    outline: none;
    border-color: yellowgreen;
    /* width: ; */
    transform: scaleX(1.05);
}

/* .login-form{
    position: relative;
    top: 10px;
    left: 10px;
} */

.login-label{
    position: relative;
    font-family: "Anta", sans-serif;
    padding-bottom: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
    top:30px;

}

.submit{
    margin-top: 10px;
    border-radius: 10%;
    width: 75px;
    background-color: rgb(59, 178, 248);
    border-width: 0.5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    transition: transform 0.4s ease;
}

/* .navLogo{
    position: relative;
    left: 5rem;
}


.dropdown .serviceDropdown{
    
    color: white;
    
}

.dropdown{
    
    position: relative;
    left: 35rem;

}

.loginBtn{
    position: relative;
    left: 70rem;
} */


/* @media (max-width: 991.98px) {
    .navLogo{
        left: 10px;
    }

    .dropdown{
        left: 21rem;
        bottom: 10px;
    }

    .loginBtn{
        left: 22rem;
        bottom: 5px;
    }


}



@media (max-width: 1467px) {
    .navLogo{
        left: 59px;
    }

    .dropdown{
        left: 30rem;
        
    }

    .loginBtn{
        left: 60rem;
       
    }

    .navbar-toggler{
        position: relative;
        right: 45px;
    }


}

@media (max-width: 1328px) {
    .navLogo{
        left: 59px;
    }

    .dropdown{
        left: 28rem;
        
    }

    .loginBtn{
        left: 55rem;
       
    }

    .navbar-toggler{
        position: relative;
        right: 45px;
    }


}
@media (max-width: 1228px) {
    .navLogo{
        left: 59px;
    }

    .dropdown{
        left: 26rem;
        
    }

    .loginBtn{
        left: 47rem;
       
    }

    .navbar-toggler{
        position: relative;
        right: 45px;
    }


}

@media (max-width: 1099px) {
    .navLogo{
        left: 59px;
    }

    .dropdown{
        left: 18rem;
        
    }

    .loginBtn{
        left: 37rem;
       
    }

    .navbar-toggler{
        position: relative;
        right: 45px;
    }


}



@media (max-width: 991.98px) {
    .navLogo{
        left: 10px;
    }

    .dropdown{
        left: 26rem;
        bottom: 10px;
    }

    .loginBtn{
        left: 27rem;
        bottom: 5px;
    }

    .navbar-toggler{
        position: relative;
        right: 45px;
    }


}

@media (max-width: 886px) {
    .navLogo{
        left: 15px;
    }

    .dropdown{
        left: 23rem;
        bottom: 10px;
    }

    .loginBtn{
        left: 24rem;
        bottom: 5px;
    }

    .navbar-toggler{
        position: relative;
        right: 40px;
    }


}

@media (max-width: 699px) {
    .navLogo{
        left: 10px;
    }

    .dropdown{
        left: 17rem;
        bottom: 10px;
    }

    .loginBtn{
        left: 18rem;
        bottom: 5px;
    }

    .navbar-toggler{
        position: relative;
        right: 10px;
    }


} */